!!!
html
  head
    meta(contnet="text/html", charset="utf-8", http-equiv="Content-Type")
    meta(name="description", content="#{config.description}")
    title= title + " | " + config.name
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_website.css')
    script(type="text/javascript", src="/sea-modules/seajs/1.3.1/sea.js")
    script(type="text/javascript", src="/javascripts/sea_config.js")

  body
    #top
      .container 
        | 欢迎光临成都A+诚品
        span.r 联系电话：186-8372-2336
    #header
      .container
        img#ad.r(src="/images/ad.jpg")
        img#logo(src="/images/logo-3.png")
        .cl
    #nav
      .container
        #nav_bar
          a(href="/") 首页 
          a(href="/products") 产品库 
          a(href="/articles") 新闻
          a(href="/aboutus") 关于我们
          a(href="/service") 售后与保修
    #body.container
      #body_inner
        block content
    #footer
      .container
        | Copyright © 2013 成都A+诚品手机版权所有
        br
        | 联系电话：186-8372-2336
        span.mhm
        | 实体店地址：成都赛格广场负一楼A019 A+诚品
    #QQ
      a(href="http://wpa.qq.com/msgrd?v=3&uin=2394312575&site=qq&menu=yes")
      a(href="http://wpa.qq.com/msgrd?v=3&uin=2274928114&site=qq&menu=yes")
    script(type="text/javascript")
      seajs.use(['$', 'fixedPos'], function($){
        $(function(){
          var path = location.pathname;
          $('#nav_bar a').each(function(i){
            var link = $(this);
            var index = link.attr('href');
            if(path == index && i == 0){
              link.addClass('current');
            }
            if(path.indexOf(index) >= 0 && i > 0){
              link.addClass('current');
            }
          });

          $('#QQ').fixedPos({
            right:20,
            bottom:20
          });
        });
      })