/* ==========================================================================
   Website Base CSS
   ========================================================================== */

body{
  color:#5F676B;
  font-family:'Lato',Arial,Helvetica,\5B8B\4F53,sans-serif;
  font-size:14px;
  line-height:1.6;
  background:#F5F6F7;
}

/* link */
a { color:#10A4DD; text-decoration:none; }
a:hover { color: #5AD0FF; }

/* ==========================================================================
   Website Module CSS
   ========================================================================== */

.box { margin-bottom:18px; }
.box .hd { margin-bottom:10px; font-size:16px; font-weight:bold; color:#10A4DD; }
.box .bd {  }

.headline { margin-bottom: 15px; border-bottom:5px solid #e1f3fa; } 
.headline h3 { margin:0; height:28px; color:#333; font-size:18px; }
.headline span{
  display: inline-block;
  border-bottom: 5px solid 
  #8dd9f8;
  line-height: 26px;
  margin-bottom: -5px;
  padding-right: 12px;
  height: 100%;
  position: relative;
}
.headline span i {
  border-color: #e1f3fa 
  transparent;
  border-style: solid dashed;
  border-width: 0 6px 5px;
  font-size: 0;
  margin: 0 -6px -5px 0;
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}


.features_slide { margin-bottom:10px; border:1px solid #ccc; height:100px; }

.container { width:960px; margin:0 auto; }

.products_show { padding-bottom:15px; }
.products_show li { float:left; margin-bottom:10px; width:20%; text-align:center; font-size:12px; }
.products_show li a { display:block; margin:0 auto; width:120px; }
.products_show li img { width:118px; height:118px; border:1px solid #efefef; }
.products_show li a:hover { text-decoration:none; }
.products_show li a:hover img { border:1px solid #10A4DD; }
.products_show li p { margin-top:5px; }
.products_show li .title { font-weight:bold; }
.products_show li .slogan { font-size:12px; color:#888; }

.products_list li { margin-bottom:10px; padding:0 0 10px; border-bottom:2px solid #eee; }
.products_list li .title a { color:#ec5706; }
.products_list li .content .img { float:left; width:72px; height:72px; }
.products_list li .content .info { margin-left:80px; font-size:12px; }
.products_list li .content .intro { height:54px; overflow:hidden; }

.new_comments li { margin-bottom:10px; padding:0 0 10px; border-bottom:1px dotted #eee; font-size:12px; }
.new_comments li .content { /*height:36px;*/ overflow:hidden; }
.new_comments li .bottom { text-align:right; color:#888; }
.new_comments li .bottom span { margin-left:6px; }

.slide_show { margin-bottom:10px; overflow:hidden; }
.slide_show .slide_show_inner { position:relative; height:240px; }
.slide_show .image_group { height:100%; }
.slide_show .image_group img { width:100%; height:100%; }
.slide_show .bottom, .slide_show .bottom_bg { position:absolute; bottom:0px; left:0px; width:100%; height:30px; }
.slide_show .bottom { line-height:30px; color:#fff; font-size: 12px; z-index:0;}
.slide_show .bottom_bg { background:#000; opacity:0.7; filter:alpha(opacity=80); z-index:-1; }
.slide_show .bottom .image_info { float:left; margin-left:8px; width:70%; height:100%; }
.slide_show .bottom .image_info a { color:#fff; word-break:keep-all; white-space:nowrap; }
.slide_show .image_index { margin-top:10px; text-align:center; }
.slide_show .image_index a { display:inline-block; width:10px; height:10px; margin:8px 5px; background:url(../images/bullets.png) 0 0 no-repeat; text-indent:-9999px; }
.slide_show .image_index a.current { background-position:0 100%; }

.articles_list li { border-bottom:1px dotted #ccc; font-size:12px; }
.articles_list li.is_top a { color:red; }
.articles_list li a { display:block; padding:5px 0; }

#products_filter { margin-bottom:15px; padding:8px; background:#f3f3f3; }
#products_filter li { padding:3px; font-size:12px; }
#products_filter .key { font-weight:bold; margin-right:10px; }
#products_filter a { color:#888; }
#products_filter a, #products_filter b { padding:0 3px; }

.article_container { margin-bottom:20px; padding:10px; border:1px solid #f3f3f3; background:#f8f8f8; }
.article_container h1 { padding-bottom:5px; border-bottom:2px solid #ccc; }
.article_container .article_info { margin:5px 0 20px; font-size:12px; }
.article_container .article_content { text-indent:2em; }
.article_container .article_content p { margin-bottom:15px; }

.comments_list li { margin-bottom:10px; border:1px solid #ccc; font-size:12px; }
.comments_list li p { padding:5px; }
.comments_list li .user { background:#efefef; }
.comments_list li .reply { color:#ec5706; }

.product_container { margin-bottom:20px; }
.product_container h1 { font-size:21px; color:#ec5706; }
.product_container .product_info p { padding:0 0 10px; }
.product_container .product_params { margin-bottom:20px; width:100%; text-align:left; font-size:12px; }
.product_container .product_params th,
.product_container .product_params td { padding:5px 10px; border:1px solid #e8e8e8; }
.product_container .product_params th { width:20%; background:#f8fbfe; }
.product_container .product_intro { text-indent:2em; }
.product_container .product_intro p { margin-bottom:15px; }

.latest_article { font-size:12px; list-style:disc inside none; }
.latest_article li { padding:5px 0; border-bottom:1px dotted #ccc; width:100%; overflow:hidden; white-space:nowrap; }

#aboutus p { margin-bottom:20px; text-indent:2em; }

#QQ { padding-top:29px; width:100px; height:87px; background:url(../images/contactus.gif) 0 0 no-repeat; }
#QQ a { display:block; height:43px; }

/* ==========================================================================
   Layout CSS
   ========================================================================== */

#top { height:38px; line-height:38px; background:url(../images/top-bg.png) 0 0 repeat-x; color:#fff; font-size:12px; }
#header { padding:20px 0; background:#fff; }
#ad { width:738px; height:100px; }
#logo { margin-top:18px; height:66px; }

#nav { padding-top:10px; border-bottom:3px solid #eee; height:80px; background:url(../images/nav-bg.gif); font-size:16px; font-weight:bold; }
#nav a { float:left; margin-right:15px; padding:0 15px; height:45px; line-height:50px; border-bottom:5px solid transparent; color:#666; }
#nav a:hover, #nav a.current { border-bottom-color:#ec5706; color:#000; }
#body {
  background-color: #fff;
  border-top:5px solid #858F95;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
  margin:-38px auto 0;
}
#body_inner { padding: 20px; }
#footer { padding:20px 0; text-align:center; font-size:12px; }