.box.say_hi
  h3.hd 欢迎光临本店
  p.f12.
    亲爱的新老顾客朋友，欢迎你们再次光临我们的店铺。本店铺所销售的手机均是以“批发”价格“零售”，由于每天价格随市场行情波动，可能造成产品价格更新稍慢。具体价格敬请致电或QQ咨询。
  // 亲爱的新老顾客朋友，欢迎你们再次光临我们的店铺。我们店铺主营苹果，诺基亚，HTC，三星，索尼，摩托罗拉，LG，夏普，黑莓，华为，中兴，联想，OPPO,步步高，朵唯，天语等知名品牌手机（大陆行，港行，欧版，亚太版，美版）及配件（蓝牙耳机，原装电池，充电器，内存卡，数据线，外壳，贴膜，移动电源等）。本店铺所销售的手机均是以“批发”价格“零售”，由于每天价格随市场行情波动，可能造成产品价格更新稍慢。具体价格敬请致电或QQ咨询。
