if slides.length > 0
  #slide_feature.slide_show
    .slide_show_inner
      #slide_feature_images.image_group
        each slide in slides
          a(href="#{slide.src}", target="_blank")
            img(src="#{slide.image}")
      .bottom
        .bottom_bg
        #slide_feature_info.image_info
          each slide in slides
            a(href="#{slide.src}", target="_blank")= slide.info
    #slide_feature_index.image_index
      each slide in slides
        a(href="javascript:") 1

  script(type="text/javascript")
    seajs.use(['$', 'slideShow'], function($, slideShow){
      $(function(){
        slideShow.init({
          optDOMs:[{
              selector:"#slide_feature_images",
              style:"slide-x"
            },{
              selector:"#slide_feature_info",
              style:"fade"
            }],
            indexDOM:"#slide_feature_index"
        });
      });
    })