extend ../layout_website

block content
  .headline
    h3
      span 关于我们
        i
  div#aboutus
    p 成都A+诚品是一家专业从事苹果，诺基亚，HTC，三星，索尼，摩托罗拉，LG，夏普，黑莓，华为，中兴，联想，OPPO,步步高，朵唯，天语等知名品牌手机（大陆行，港行，欧版，亚太版，美版）及配件（蓝牙耳机，原装电池，充电器，内存卡，数据线，外壳，贴膜，移动电源等）的批发、零售商。
    p A+诚品坚持把打造手机文化、提升手机品位作为经营理念，坚持把顾客的利益放在首位，在经营中坚持薄利多销的原则，让我们的产品能够为更多的新老顾客服务。在进货渠道上，我们直接从供货商拿货，减少许多中间环节，剔除不必要的费用支出，真正把手机成本减下来，把手机价格压下来，其目的就是为了减少新老顾客的经济负担，让顾客花最少的钱买到称心如意的产品。同时在供货商那里就亲自检查以确保货源正宗、品质良好，让新老顾客买的放心。
    p 诚信经营、满意服务，是我们A+诚品的经营准则。我们承诺绝不销售假冒伪劣产品，如发现翻新机，立即退款，没有理由！因为做手机就是做良心，就是做人！我们坚持把服务放在首位，真正做到售前耐心、售中细心，最终让顾客售后安心！
    p 公司地址：成都市太升南路赛格广场负一楼A019。乘车路线：3,18,101,80,5,61,106,341路公交车到太升路口或玉沙路，下车步行3—5分钟到赛格广场（修地铁这边）乘观光电梯到负一楼，出电梯右转第三间即到。