extend ../layout_website

block content
  .layout
    .lCol.lCol_website
      include ./_say_hi
    .main
      ul.articles_list
        each article in articles
          li
            a(href="/articles/#{article._id}")
              | #{article.title}
              span.r= $.formatDate(article.create_at, true)

      include ../pages