extend ../layout_website

block content
  .layout
    .lCol 43
    .main
      - collection = "article", id = article._id

      h1= article.title

      p this is content

      ul
        each comment in comments
          li= comment.content

      include ./_comment_form