extend ../layout_website

block content
  .layout
    .lCol 43
    .main
      ul
        each article in articles
          li
            a(href="/articles/#{article._id}")= article.title

      include ../pages