extends ../layout_website

block content
  .layout
    .lCol.lCol_website
      include ./_say_hi
      include ./_hot_products
      include ./_new_comments
    .main
      include ./_slide_feature
      - products = newProducts  
      include ./_products_show



