extends ../layout_website

block content
  .layout
    .lCol.lCol_website
      include ./_say_hi
      .box
        .hd 分期办理
        .bd.f12
          p 内容捷信办理条件：成人仅需身份证+成都地区028开头的座机，学生仅需身份证+学生证。好处：办理时间快，仅需20分钟。
          p 锦城办理条件：成人身份证+名片（名片上需有和身份证上一样的名字和工作座机，028开头）或社保卡或信用卡。学生需身份证和学生证。好处：费用低。
      include ./_hot_products
      include ./_new_comments
    .main
      include ./_slide_feature
      - products = newProducts  
      include ./_products_show



