extend ../layout_website

block content
  .layout
    .lCol.lCol_website
      include ./_say_hi
      include ./_new_articles
    .main
      #products_filter
        ul
          - filter = $.copy(config.product);
          - filter.price = {key:'价格范围',data:['1-999','1000-1999','2000-2999','3000-3999','4000-4999','5000以上']}
          - for(var key in filter){
            - item = filter[key]
            li
              span.key= item.key + ":"
              unless key in query
                b(style="color:red;") 不限
              else
                a(href="#", data-filter="#{key}=") 不限

              each option in item.data
                if query[key] == option
                  b(style="color:red;")= option
                else
                  a(href="#", data-filter="#{key}=#{option}")= option
          - }
      include ./_products_show
      include ../pages

  script(type="text/javascript")
    seajs.use(['$', 'path'], function($, Path){
      $(function(){
        var boxFilter = $('#products_filter');
        boxFilter.on('click', 'a', function(e){
          var path = new Path();
          var filter = $(this).attr('data-filter');
          var key = filter.split('=')[0];
          var value = filter.split('=')[1];
          if(value === ''){
            path.del(key);
          }else {
            path.set(key, value);
          }
          location.href = path.getHref();
          return false;
        });
      });
    })