extend ../layout_website

block content
  .layout
    .lCol 34
    .main
      - collection = "product", id = product._id

      h1= product.title

      p this is content

      ul
        each comment in comments
          li= comment.content

      include ./_comment_form