extend ../layout_website

block content
  .headline
    h3
      span A+诚品加保条例
      i

  .box
    .hd【七天换机须知】
    .bd
      p 1.七天换机只提供更换同样机型、颜色的手机主机，包换时间由购机当天起算。
      p 2.客户反映的故障必须确实存在。若属于隐性故障，客户需留机于客服中心检测，若经检测故障属实，外观无损坏刮花的情况下更换。
      p 3.若属于软件故障，能于三个工作日内修复的(新款型号手机软件的通病问题，需等待新版系统升级修复的手机)不予更换。
      p 4.手机液晶屏出现坏点亮点1-3个均不属于更换及保修范围，如出现3点以上，经检测属于非人为造成，可作更换主机。
      p 5.主机外观有磨损或刮花伤痕须折价后才能更换，有严重磨损或刮花伤痕情况的手机不予更换。(造成硬件故障的手机不提供保修服务)
      p 6.售后服务凭据丢失、手机标签损坏或经检测属于人为脱落标签的，不予更换。
      p 7.手机配件保证是全新原装，非人为故障，无明显磨损或刮花伤痕情况下享受七天包换，但不保修。赠送品无特别注明，不享受包换及保修服务。

  .box
    .hd【一年硬件保修原则】
    .bd
      p 1.参与本公司一年硬件加保活动，可享受手机一年之内有任何硬件问题，均可免费维修（在非人为前提下）。
      p 2.厂家设计缺陷，网上多人反映，普遍存在的问题不保。
      p 3.人为损坏、摔坏、入水、受潮，自行改装或拆卸的手机，不在本公司加保服务范围。手机外壳、按键损坏或掉漆、液晶屏、触摸屏。均不属于保修范围。
      p 4.手机主机内标签损坏、单据与手机不相符、自行升级或者刷写手机资料，造成系统语言改变或无法开机的手机，从而造成不可修复的故障，不在保修范围。
      p 5.手机不开机不保。

  .box
    .hd【顾客送修注意】
    .bd
      p 1.顾客送修或软件升级前请先自行备份手机及内存卡资料，客服中心对维修过程造成的资料丢失不负任何责任。
      p 2.顾客送修或软件升级前请出示手机售后服务凭据，对没有出示凭据、单据与手机不相符，手机封标损坏，一律作付费维修处理。手机上的所有标签(包括日期标贴)是判断客户是否私自拆机的标记，不能作保修凭证。
      p 3.手机入液或防水标签变色、摔过、压过、挤压过、剧烈震动过、自行改装或拆卸的手机，不提供保修服务。手机外壳外观、按键字粒，(损坏、脱落、掉漆)，液晶屏、触摸屏、机带附件(笔、后盖等)，均不属于保修或包换范围。
      p 4.顾客自行升级手机、刷写手机资料、修改手机内部文件等，造成故障或导致硬件问题，均不提供保修服。如需本中心提供修复，需作收费维修处理。
      p 5.手机入液或严重(摔过、压过、挤压过、剧烈震动过、变型)损坏的手机，在维修过程中存在维修风险，维修过程不能保证是否有不可修复的故障发生，修好的手机不能保证是否能持久正常工作，或会产生其它不可预知的故障，对此类手机的维修，请客户自行考虑决定是否在本中心付费维修。
      p 6.对于进入维修过程的机器，若客人临时决定不维修，要求终止修理，客服中心不能保证恢复以前故障状态。
      p 7.手机白屏、黑屏、花屏、无显示，偶尔又正常状态的硬件故障可分析为手机排线、液晶屏、CPU等问题，检测期间如属液晶问题，拆装后不能保证手机能回复送修前状。(液晶屏不属保修范围)





