extends ../layout_console

block content
  h1= is_new?"新建文章":"编辑文章"
  form.formA.console_form(action="/articles/#{is_new?"new":article._id+"/edit"}", method="post", enctype="multipart/form-data")
    fieldset
      legend 必填信息
      .row
        label.key 标题
        input#article_title.text_input(type="text", name="title", value="#{$.blankStr(article.title)}")
      .row
        label.key 置顶
        if article.is_top == '1'
          input(type="checkbox", name="is_top", value="1", checked)
        else
          input(type="checkbox", name="is_top", value="1")
        | 是否将该文章置顶？
      .row
        label.key 在首页展示
        if article.show_in_home == '1'
          input(type="checkbox", name="show_in_home", value="1", checked)
        else
          input(type="checkbox", name="show_in_home", value="1")
        | 作为首页提问区？
      .row
        label.key 内容
        textarea#article_content.text_input(name="content", rows="10", cols="35")= $.blankStr(article.content)
      .bottom
        input(type="submit", value="提交表单")

  script(type="text/javascript")
    seajs.use(['$', 'kindeditor'],function($, K){
      $(function(){
        var inputTitle = $('#article_title');
        var txtaContent = $('#article_content');
        $('form').submit(function(){
          if($.trim(inputTitle.val()) === '' || $.trim(txtaContent.val()) === ''){
            alert('请填写标题与内容。');
            return false;
          }
        });
        
        var editor = K.create('#article_content', {
          width:700,
          height:300
        });

      })
    })
